# BC Group GREEN×DATA Challenge 2025 for Recruiting

https://signate.jp/competitions/1634/data

In [20]:
# リポジトリのディレクトリを取得し、検索パスに追加
import os
import sys
from pathlib import Path

repo_dir = Path.cwd().parents[1]
if repo_dir.as_posix() not in sys.path:
    sys.path.append(repo_dir.as_posix())

print(repo_dir)

/home/atsushi/repositories/DS-Sandbox

In [22]:
# データの取得
import pandas as pd

train_df = pd.read_csv(os.path.join(repo_dir, 'data/train.csv'), index_col=0)
test_df = pd.read_csv(os.path.join(repo_dir, 'data/test.csv'), index_col=0)
train_df.head()

,generation_biomass,generation_fossil_brown_coal/lignite,generation_fossil_gas,generation_fossil_hard_coal,generation_fossil_oil,generation_hydro_pumped_storage_consumption,generation_hydro_run_of_river_and_poundage,generation_hydro_water_reservoir,generation_nuclear,generation_other,...,seville_wind_deg,seville_rain_1h,seville_rain_3h,seville_snow_3h,seville_clouds_all,seville_weather_id,seville_weather_main,seville_weather_description,seville_weather_icon,price_actual
time,,,,,,,,,,,,,,,,,,,,,
2015-01-02 00:00:00+01:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,...,33,0.0,0.0,0.0,0,800,clear,sky is clear,01n,64.02
2015-01-02 01:00:00+01:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,...,33,0.0,0.0,0.0,0,800,clear,sky is clear,01n,58.46
2015-01-02 02:00:00+01:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,...,44,0.0,0.0,0.0,0,800,clear,sky is clear,01n,54.70
2015-01-02 03:00:00+01:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,...,44,0.0,0.0,0.0,0,800,clear,sky is clear,01n,54.91
2015-01-02 04:00:00+01:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,...,44,0.0,0.0,0.0,0,800,clear,sky is clear,01n,53.07

In [25]:
from utils import top_correlated_features, plot_top_correlations

# 例: dfはPandas DataFrame、targetは目的変数カラム名
top_feats = top_correlated_features(train_df, target_col="target", n_features=5)
print("相関上位5つ:", top_feats)

plot_top_correlations(train_df, target_col="target", n_features=5)

ValueError: 目的変数 target は数値型カラムとして存在しない